
        <main>
            <section class="section-about">

                <div class="center-text margin-bot-large">
                    <h2 class="heading-secondary">
                        What are we about?
                    </h2>
                </div>

                <div class='row'>
                    <div class='col-1-of-2'>
                        <div class='pad-big'>
                            <h3 class="heading-tertiary margin-bot-small">
                                about heading 1
                            </h3>
                            <p class="paragraph pad-med">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque autem. Quasi iste beatae excepturi atque labore vitae
                                sit, similique laborum tempora distinctio, laboriosam quo rem alias quae commodi! Consectetur.
                            </p>

                            <h3 class="heading-tertiary margin-bot-small">
                                about heading 2
                            </h3>
                            <p class="paragraph pad-med">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, cumque autem. Quasi iste beatae excepturi atque labore vitae
                                sit, similique laborum tempora distinctio, laboriosam quo rem alias quae commodi! Consectetur.
                            </p>

                            <a href='/' class="btn-text">
                                read more &rarr;
                            </a>
                        </div>
                    </div>

                    <div class='col-1-of-2 pad-top-med'>
                        <div class='composition'>
                            <img src="images/nat-1-large.jpg" class="composition_photo composition_photo_p1">
                            <img src="images/nat-2-large.jpg" class="composition_photo composition_photo_p2">
                            <img src="images/nat-3-large.jpg" class="composition_photo composition_photo_p3">
                        </div>
                    </div>
                </div>

            </section>

            <section class="section-features">

                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class='feature-box_icon icon-basic-world'></i>
                            <h3 class="heading-tertiary margin-bot-small">Explore</h3>
                            <p class="feature-box_text">
                                Lorem ipsum dolor sit amet consectetur Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box_icon icon-basic-heart"></i>
                            <h3 class="heading-tertiary margin-bot-small">Experience</h3>
                            <p class="feature-box_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box_icon icon-basic-star"></i>
                            <h3 class="heading-tertiary margin-bot-small">Favorite</h3>
                            <p class="feature-box_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box_icon icon-basic-share"></i>
                            <h3 class="heading-tertiary margin-bot-small">Share</h3>
                            <p class="feature-box_text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>
                </div>

            </section>

            <section class="section-three">
                <div class="center-text margin-bot-large">
                    <h2 class="heading-secondary">

                    </h2>
                </div>

                <div class='row'>

                    <div class='col-1-of-3'>
                        <div class="card">
                            <div class="card_side card_side-front">
                                <div class="card-picture card-picture-1">
                                    &nbsp;
                                </div>
                                <h4 class="card-heading">
                                    <span class='card-heading-span
                                    card-heading-span-1'>
                                        explore the wonders
                                    </span>
                                </h4>
                                <div class="card-details">
                                    <ul>
                                        <li>tag 1</li>
                                        <li>tag 2</li>
                                        <li>tag 3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card_side card_side-back card_side-back-1">
                                <div class="card-cta">
                                    <div class="card-info pad-large">short tldr here, no longer then 50varchar
                                    </div>
                                    <a href='#popup' class="btn btn-white">
                                        read more</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class='col-1-of-3'>
                        <div class="card">
                            <div class="card_side card_side-front">
                                <div class="card-picture card-picture-2">
                                    &nbsp;
                                </div>
                                <h4 class="card-heading">
                                    <span class='card-heading-span
                                    card-heading-span-2'>
                                        Experience the Euphoria
                                    </span>
                                </h4>
                                <div class="card-details">
                                    <ul>
                                        <li>tag 1</li>
                                        <li>tag 2</li>
                                        <li>tag 3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card_side card_side-back card_side-back-2">
                                <div class="card-cta">
                                    <div class="card-info pad-large">short tldr here, no longer then 50varchar
                                    </div>
                                    <a href='#popup' class="btn btn-white">
                                        read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='col-1-of-3'>
                        <div class="card">
                            <div class="card_side card_side-front">
                                <div class="card-picture card-picture-3">
                                    &nbsp;
                                </div>
                                <h4 class="card-heading">
                                    <span class='card-heading-span
                                    card-heading-span-3'>
                                        share the entrancement
                                    </span>
                                </h4>
                                <div class="card-details">
                                    <ul>
                                        <li>tag 1</li>
                                        <li>tag 2</li>
                                        <li>tag 3</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card_side card_side-back card_side-back-3">
                                <div class="card-cta">
                                    <div class="card-info pad-large">short tldr here, no longer then 50varchar
                                    </div>
                                    <a href='#popup' class="btn btn-white">
                                        read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="section-signup" id='sign-up'>

                <div class="bg-video">
                    <video class="bg-video-content" autoplay muted loop>
                        <source src='images/video.mp4' type='video/mp4'>
                        <source src='images/video.webm' type='video/webm'>
                    </video>
                </div>

                <div class="row">
                    <div class="sign-up">
                        <div class="center-text margin-bot-med">
                            <h3 class="sign-up-heading">
                                Sign up
                            </h3>
                        </div>

                        <div class="sign-up-form">
                            <form action="/" class="form">
                                <div class="form-group">
                                    <input type="text" class="form_input" placeholder="Full Name" id='name' required>
                                    <label for="name" class="form-label">Full Name</label>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-form">
                            <form action="/" class="form">
                                <div class="form-group">
                                    <input type="text" class="form_input" placeholder="Username" id='username' required>
                                    <label for="username" class="form-label">Username</label>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-form">
                            <form action="/" class="form">
                                <div class="form-group">
                                    <input type="password" class="form_input" placeholder="Password" id='password' required>
                                    <label for="password" class="form-label">Password</label>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-form">
                            <form action="/" class="form">
                                <div class="form-group">
                                    <input type="email" class="form_input" placeholder="Email" id='email' required>
                                    <label for="email" class="form-label">Email</label>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-form">
                            <form action="/" class="form">
                                <div class="form-group">
                                    <input type="text" class="form_input" placeholder="dd/mm/yyyy" id='bday' required>
                                    <label for="bday" class="form-label">BirthDate</label>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-form">
                            <div class='btn-margin'>
                                <button class="btn btn-white">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                        <div class="story">
                            <figure class="story-shape">
                                <img src="images/nat-8.jpg" class='story-image'>
                                <figcaption class="story-caption">
                                    username
                                </figcaption>
                            </figure>
                            <div class="story-text">
                                <h3 class="heading-tertiary margin-bot-small center-text">
                                    heading
                                </h3>
                                <p>
                                    varchar 50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quasi aliquam eligendi explicabo maxime dolor
                                    voluptatum ut vel id, quisquam enim eveniet odit laborum rem praesentium dicta quis,
                                    veritatis vitae possimus ipsa fuga saepe assumenda modi. Aperiam facilis inventore explicabo.
                                </p>
                            </div>
                        </div> -->

            </section>

        </main>
        <footer class="footer" id='footer'>
            <div class="row">
                <nav class="footer-nav">
                    <ul class="footer-list">
                        <a href='/'>
                            <li>Twitter</li>
                        </a>
                        <a href='/'>
                            <li>Contact Us</li>
                        </a>
                        <a href='/'>
                            <li>Home</li>
                        </a>
                    </ul>
                </nav>
            </div>
        </footer>

        <div class="popup" id='popup'>
            <div class="popup-content">
                <div class="popup-left">
                    <img src="/images/nat-6.jpg" class='popup-img'>

                    <img src="/images/nat-5.jpg" class='popup-img'>
                </div>
                <div class="popup-right">
                    <a href='#section-three' class='popup-close'>
                        &times; </a>
                    <h2 class="heading-secondary margin-bot-med">Heading for content</h2>

                    <p class="popup-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eveniet, modi reiciendis dignissimos
                        consequuntur ea ad officia quas molestias eos beatae a consectetur voluptates repellat sed fugit
                        nemo quasi! Sed amet autem officiis labore illum ducimus nobis dignissimos? Corporis voluptates officiis
                        molestias. Nostrum at doloremque distinctio delectus officiis ea porro. Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Officia iste amet inventore. Neque dicta facere est molestias enim,
                        eos tempora aperiam aliquam, accusamus unde ex vitae qui. Illum veniam iste neque, corporis eius
                        nisi sint aut suscipit aliquam dolores nihil!
                    </p>
                </div>
            </div>
        </div>

        <div class="popup" id='sign-in'>
            <div class="popup-content center-text">
                <div>
                    <h2 class="heading-secondary margin-bot-med">Sign In</h2>
                    <a href='#section-three' class='popup-close'>
                        &times; </a>

                    <div class="sign-up-form">
                        <form action="/" class="form">
                            <div class="form-group">
                                <input type="text" class="form_input" placeholder="Username" id='username' required>
                                <label for="username" class="form-label">Username</label>
                            </div>
                        </form>
                    </div>

                    <div class="sign-up-form">
                        <form action="/" class="form">
                            <div class="form-group">
                                <input type="password" class="form_input" placeholder="Password" id='password' required>
                                <label for="password" class="form-label">Password</label>
                            </div>
                        </form>
                    </div>

                    <div class="sign-up-form">
                        <div class='btn-margin'>
                            <button class="btn btn-white">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
